body, html {
    height: 100%;
    scroll-behavior: smooth;
    /* background-color: #99dbf5;  */
    line-height: 2;
    /* background-image: linear-gradient(to right,  #e8f5fa , #c5ebfc); */
}

/* Style page content */
.container {
  /* margin: auto; */
  right: 0px;
  bottom: 0px;
  padding: 20px 20px;
  width: 900px;
  color: #5a5858;
  background-image: linear-gradient(to left,  #e8f5fa , #d9f1fc);
} 

section {
  margin: auto auto 50px auto;
  /* background-color: #ececec; */
  border-radius: 5px;
}

h1, h2, h3, h4, h5 {
  color: #494949;
}


@media screen and (max-width: 900px) {
  .container {
    margin: 0px;
    max-width: 100%;
  }; 
} 


