body, html {
    height: 100%;
    scroll-behavior: smooth;
    background-color: aquamarine;
}


/* Style page content */
.container {
  margin: 20px auto;
  padding: 20px 20px;
  width: 900px;
  background-color: #fcfcfc;
  color: #212121;
} 


@media screen and (max-width: 900px) {
  .container {
    margin: 0px;
    max-width: 100%;
  }; 
} 


footer { 
  margin-top: 15px;
  bottom: 0px;
  height: 20%; 
  position: relative;
}
